.reflectionsubmission-heading  {
    color: #005b94;
}

span.reflectionsubmissionstatus {
    background-color: #efefef;
}

#fitem_id_reflectiontxt_editor {
  width: 45vw;
  margin: 0 auto;
}

div#fitem_id_submitbutton {
  margin: 1rem 0;
}

/* We dont want the label to be displayed */
#fitem_id_reflectiontxt_editor > div.col-form-label {
  display: none !important;
}

#fitem_id_userid,
#fitem_id_id,
#fitem_id_submission,
#fitem_id_assignment,
#fitem_id_context {
    display: none;
}

.cgs-reflection-alert {
  width: 72%;
  top: 1rem;
}

/* Truncate the text of the reflectionin the grading table .reflection-form-container p > video */
.reflection-form-container.text-truncate {
  width: 10vw;
}


#page-mod-assign-grader .reflection-form-container.text-truncate {
    width: 100%;
}

/* In the grading table dont display multimedia */
#page-mod-assign-grading div.reflection-form-container.text-truncate video,
#page-mod-assign-grading div.reflection-form-container.text-truncate p img,
#page-mod-assign-grading div.reflection-form-container.text-truncate .mediaplugin,
#page-mod-assign-grading div.reflection-form-container.text-truncate iframe {
    display: none;
}

/* Limit the height of the reflection to make it look better.*/
.summary_assignsubmission_reflection.view-summary .text_to_html {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.summary_assignsubmission_reflection.view-full .text_to_html {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}
