/* Hide the textarea from the grading panel */
#page-mod-assign-grader .assignsubmission_reflection {
    display: none;
}

#fitem_id_reflectiontxt {
    width: 45vw;
    margin: 0 auto;
}

div#fitem_id_submitbutton {
    margin: 1rem 0;
}


/* We dont want the label to be displayed */
#fitem_id_reflectiontxt > div.col-form-label {
    display: none !important;
}

#fitem_id_userid,
#fitem_id_submission,
#fitem_id_assignment {
    display: none;
}

.cgs-reflection-alert {
    width: 72%;
    top: 1rem;
}

