/* Hide the textarea from the grading panel */
#page-mod-assign-grader .assignsubmission_reflection {
    display: none;
}

#fitem_id_description_editor {
    width: 45vw;
    margin: 0 auto;
}

div#fitem_id_submitbutton {
    margin: 1rem 0;
}


/* We dont want the label to be displayed */
#fitem_id_description_editor > div.col-form-label {
    display: none !important;
}

#fitem_id_userid,
#fitem_id_itemid {
    display: none;
}