<span class = 'reflectionsubmissionstatus' hidden >Reflection</span>
<div class = 'reflection-form-container view-summary' data-contextid = "{{contextid}}" data-userid = "{{userid}}" data-itemid = "{{itemid}}" data-assignment = "{{assignment}}" >
    {{{reflectiontxt}}}
</div>

{{#js}}
    require(['assignsubmission_reflection/reflectionForm'], function(reflectionform) {
        reflectionform.init(undefined, undefined, true, {{userid}});
    });
{{/js}}