<div class = "reflection-form-container" data-contextid = "{{contextid}}" data-userid = "{{userid}}" data-itemid = "{{itemid}}" data-assignment = {{assignment}}></div>
{{#js}}
    // Create the mform reflecion_form.
    require(['assignsubmission_reflection/reflectionForm'], function(reflectionform) {
        reflectionform.init('[data-action=reflection-form]', {{contextid}});
    });
{{/js}}